<div class="mt-4">
  <h3>My Respository</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Cute</th>
        <th scope="col">Date created</th>
        {{! <th scope="col" colspan="2">Date created</th> }}
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          {{! sum from helper function- using for express-hbs library }}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.cute}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            <a href="" class="btn btn-link">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>