<div class="mt-4">
  <div>
    <h3>Deleted Respository</h3>
    <a href="/me/stored/courses">Respository</a></div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Cute</th>
        <th scope="col">Date deleted</th>
        {{! <th scope="col" colspan="2">Date created</th> }}
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          {{! sum from helper function- using for express-hbs library }}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.cute}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Restore</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              {{! send _id to button }}
              data-id="{{this._id}}"
              data-bs-target="#delete-repository-modal"
            >Delete</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Deleted repositories are empty.
            <a href="/me/stored/courses/">Respository</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete repository }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-repository-modal"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Delete Repository</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This action can not be restore! Continue destroy?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          id="btn-delete-repository"
          type="button"
          class="btn btn-danger"
        >Destroy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form for "submit" }}
<form name="delete-form" method="POST">
</form>
{{! REstore form }}
<form name="restore-form" method="POST">
</form>

{{!--prettier-ignore--}}

<script>

  document.addEventListener("DOMContentLoaded",function(){ 
    // get btn class name with js
    let restoreBtn = $(".btn-restore"); 
    let repositoryId; 
    const deleteForm =  document.forms["delete-form"];
    const restoreForm =  document.forms["restore-form"];
    const deleteRepository =  document.getElementById('delete-repository-modal');
    //listen delete btn and add event
    deleteRepository.addEventListener('show.bs.modal', event => { 
        const button =  event.relatedTarget;    
        // get attribute from btn data as id
        repositoryId = button.getAttribute('data-id'); 
    });

    const btnDeleteRepository = document.getElementById("btn-delete-repository");
      btnDeleteRepository.onclick = function(){ 
        deleteForm.action="/courses/"+  repositoryId +"/destroy?_method=DELETE"; 
        deleteForm.submit() 
    }

      
      // listen btn restore clicked - tag a will refresh page
      restoreBtn.click(function(e){
        e.preventDefault()
        // with jquery, return the value from the btn clicked       
        let repoId =  $(this).data("id")
        // check dir - do not forget /restore
        restoreForm.action="/courses/"+  repoId+"/restore?_method=PATCH"; 
        restoreForm.submit() 
        
      })
  })

</script>